:root {
    --color1: #91F5AD;
    --color2: #b89c88;
    --color3: #042a2bcb;
}

body {
    font-family: "Libre Baskerville", serif;

}

.dark {
    background-color: #042a2bcb;
}

header,
nav,
main,
footer,
.banner {
    max-width: 800px;
    margin: 1rem auto;
    border: 1px solid #042a2bcb;
    padding: 10px;
    background-color: rgb(126, 192, 192);
    color: #090302;
}

header {
    margin-bottom: 0;
    text-align: center;
    background-color: #91F5AD;
}




#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}


nav {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #b89c88;
    font-size: large;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav a {
    display: none;
    color: #090302;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #090302;
}

.open a {
    display: block;
}

main {
    margin-top: 0;
}


main.home,
main.sign {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: rgb(126, 192, 192);
}

main img {
    max-width: 100%;
    height: auto;
    border: 1px solid #042a2bcb;
}



main ul {
    list-style-type: none;
}

main a {
    text-decoration: none;
}

/*form*/
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid var(--color3);
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="password"],
.wf1 textarea {
    display: block;
    border: 1px solid var(--color2);
    border-radius: 6px;
    padding: .75rem;
    width: 80%;
    max-width: 400px;
    appearance: none;
    margin-right: 3rem;
}

.wf1 input[type="submit"] {
    border: 1px solid var(--color2);
    border-radius: 7px;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
    margin: -1rem 5% 2rem 5%;

}

#join {
    margin: 1rem auto;
    background: rgb(219, 219, 219);
    padding: .5rem;
    border: 1px solid var(--color1);
    border-radius: 6px;
    color: black;
    font-size: larger;
}

.wf1 select {
    display: block;
    border: 1px solid var(--color2);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

#join:hover {
    background-color: var(--color2);
}

.sidebar section {
    margin: 1rem;
}

section {
    padding: 1rem;
    background: white;
    border: 1px solid #042a2bcb;
}

.sign section {
    margin: .5rem;
}

#spotlight {
    background-color: #91F5AD;
    border: 1px solid #042a2bcb;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;

}

div.sights {
    text-align: center;
}

.sights figure {
    margin: 0;
    margin-top: 1rem;
}

.sights img:hover {
    box-shadow: 0 0 50px #333;
}


#spotlight h2 {
    text-align: center;
}

#spotlight div {
    background-color: white;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;

}

#spotlight img {
    max-width: 100px;
    height: auto;
}

#spotlight figure {
    text-align: center;
    padding: 0;
    margin: 0;
}

#spotlight figcaption {
    font-size: small;
}

#spotlight p {
    margin: 1rem;
}

#spotlight div {
    text-align: center;
}

footer p {
    margin: 0;
    font-size: smaller;
}

footer a {
    color: #090302;
}

.grid section {
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: 1rem auto;

}

.list {
    background-color: white;
}

.cards a {
    overflow-wrap: break-word;
}


.list section {

    margin: 0;
    padding: 0.25rem;
    border-bottom: none;
}



.list img {
    display: none;
}

.select {
    padding: 0;
    border: none;
    background-color: inherit;
    margin: 0;

}

.select img {
    margin: 0;
    padding: 0;
    margin-bottom: 0;

}

.list section:nth-child(even) {
    background-color: rgba(126, 192, 192, 0.336);

}

.list section:last-child {
    border-bottom: 1px solid black;
}


.select img:hover {
    box-shadow: 0 0 10px #333;
}

.banner {
    background-color: #090302;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.hide {
    display: none;
}

.x {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.x:hover {
    background-color: rgba(255, 255, 255, 0.226);
}