@media screen and (min-width: 750px) {

    main.home,
    main.sign {
        display: grid;
        grid-template: auto 1fr / 1fr 1fr;

    }

    main.discover {
        grid-template: auto 1fr / 1fr 2fr;
    }

    nav ul {
        display: flex;
    }


    #menu {
        display: none;
    }

    nav a {
        display: block;
    }

    nav li {
        flex: 1 1 100%;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer p {
        display: block;
    }

    main img {
        grid-column: 1/3;
    }



    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .sights img:hover {
        box-shadow: 0 0 50px #333;
    }

}