@media screen and (min-width: 750px) {
    main {
        grid-template: auto 1fr / 1fr 1fr;

    }

    nav ul {
        display: flex;
    }

    #menu {
        display: none;
    }

    nav a {
        display: block;
    }

    nav li {
        flex: 1 1 100%;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer p {
        display: block;
    }

    main img {
        grid-column: 1/3;
    }


}