body {
    font-family: 'Roboto', sans-serif;

}

.dark {
    background-color: black;
}

header,
nav,
main,
footer {
    max-width: 800px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.214);
    padding: 10px;
    background-color: rgb(126, 192, 192);
}

header {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

#mode {
    display: block;
    height: 2rem;


}

#mode::before {
    content: "Dark";
}

#mode.dark {
    background-color: black;
    color: white;
}

#mode.dark::before {
    content: "Light";
}




#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}


nav {
    margin-top: 0;
    background-color: grey;
    font-size: large;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav a {
    display: none;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid black;
}

.open a {
    display: block;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.dark main {
    background-color: rgb(126, 192, 192);
}

main ul {
    list-style-type: none;
}

main a {
    text-decoration: none;
}

section {
    padding: 1rem;
    background: white;
}

.dark section {
    background-color: black;
    color: white;
}

footer p {
    margin: 0;
    font-size: smaller;
}